<div class="w-full min-h-screen bg-brand_light py-20 text-xl text-brand_dark">
  <form
    class="w-[800px] mx-auto grid grid-cols-1 gap-y-5"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div>
      <div class="">please select a club</div>
      <select
        name="club"
        id="club"
        class="border border-brand_dark rounded-lg w-full h-10 px-2"
        formControlName="club"
      >
        <option value="2">Macquarie Park</option>
        <option value="3">Thornleigh</option>
        <option value="4">Chatswood</option>
      </select>
    </div>
    <div>
      <app-text-input
        title="Email"
        fieldName="email"
        type="email"
        [formGroup]="form"
      />
    </div>
    <div class="grid grid-cols-2 gap-x-5">
      <app-text-input
        title="First Name"
        fieldName="firstName"
        [formGroup]="form"
      />
      <app-text-input
        title="Last Name"
        fieldName="lastName"
        [formGroup]="form"
      />
    </div>
    <div>
      <div>Date of Birth</div>
      <input name="dob" formControlName="dob" [dpDayPicker]="config" />
    </div>
    <div class="grid grid-cols-2 gap-x-5">
      <app-text-input
        title="Password"
        fieldName="password"
        [formGroup]="form.controls.passwords"
      />
      <app-text-input
        title="Confirm Password"
        fieldName="rePassword"
        [formGroup]="form.controls.passwords"
      />
    </div>
    <div class="grid grid-cols-3">
      <app-radio-button
        label="Male"
        fieldName="gender"
        value="m"
        [formGroup]="form"
      />
      <app-radio-button
        label="Female"
        fieldName="gender"
        value="f"
        [formGroup]="form"
      />
      <app-radio-button
        label="Prefer not to say"
        fieldName="gender"
        value="o"
        [formGroup]="form"
      />
    </div>
    <div>Your favourite sports</div>
    <fieldset class="grid grid-cols-3" formArrayName="source">
      <div class="flex items-center justify-start">
        <input
          type="checkbox"
          name="sports1"
          value="swimming"
          formControlName="0"
        />
        <div>Swimming</div>
      </div>
      <div class="flex items-center justify-start">
        <input
          type="checkbox"
          name="sports2"
          value="running"
          formControlName="1"
        />
        <div>Running</div>
      </div>
      <div class="flex items-center justify-start">
        <input
          type="checkbox"
          name="sport3"
          value="skating"
          formControlName="2"
        />
        <div>Skating</div>
      </div>
    </fieldset>
    <div>How did you find us?</div>
    <fieldset class="grid grid-cols-3" formArrayName="sports">
      <div class="flex items-center justify-start">
        <input
          type="checkbox"
          name="acquisition"
          value="google"
          formControlName="0"
        />
        <div>Google</div>
      </div>
      <div class="flex items-center justify-start">
        <input
          type="checkbox"
          name="acquisition"
          value="friend"
          formControlName="1"
        />
        <div>friend</div>
      </div>
      <div class="flex items-center justify-start">
        <input
          type="checkbox"
          name="acquisition"
          value="other"
          formControlName="2"
        />
        <div>other</div>
      </div>
    </fieldset>
    <div>
      <button
        class="bg-brand_purple w-40 h-10 text-brand_light rounded-lg hover:text-brand_dark hover:bg-brand_yellow cursor-pointer"
      >
        Submit
      </button>
    </div>
  </form>
</div>
